################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
/src/CustomerService/BankingAgent/BankingAgent.csproj.user
